* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #3f298d;
}

#Titulo{
    background-color: #f9ec7d;
    height: 25vh;
    text-align: center;
}

#Titulo h1{ 
    color: #000000f0;
    font-size: 30px;
    padding: 10px;
    font-family: "Bree Serif", serif;
    text-transform: uppercase;
    padding-top: 5vh;
    letter-spacing: 2px;
}

#Titulo h2{
    color: #000000f0;
    font-size: 15px;
    padding: 10px;
    font-family: "Bree Serif", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#Titulo h3{
    color: #000000f0;
    font-size: 12px;
    padding: 10px;
    font-family: "Bree Serif", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#Cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    margin: 5px;


}

.Tarjeta{
    display: flex;
    background-color: #b57df9;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}



.TitulosTarjeta{
    padding-top: 15px;
    color: #000000f0;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.Imagen{
    padding: 10px 0 10px 0 ;
    height: auto;
    width: 30%;
}

.boton {
    background-color:#f9ec7d;
    color:#3f298d;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;  
    font-family: sans-serif;
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.boton:hover {
    background-color:#3f298d; 
    color: white;
}