body{
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    background-image: url(https://files.visitbogota.co/sites/default/files/2024-04/PlazaBolivar4_RicardoB%C3%A1ez%20%281%29.jpg);
    background-size: 100%;

}

#Tabla1{
    border-spacing: 0;
    border: 2px solid black;
    border-radius: 9px;
    background-color: rgb(213, 213, 213);
    width: 600px;
    height: 300px;
    margin-left: 60vh;
    margin-top: 30vh;
}

#Amarillo {
    text-align: center;
    vertical-align: top;
    padding-top: 0px;
    background-color: rgb(242, 220, 82);
    width: 120px;
    height: 300px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

#Gris {
    text-align: center;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 300px;
}

#Foto{
    border: 3px solid rgb(255, 255, 255);;
    border-radius: 100px;
    height: 100px;
    width: 100px;
}

#nombre{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

hr{
    background-color: black;
    height: 2px;
}

#texto{
    text-align:center;
    margin-top: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

.boton {
    background-color:#f9ec7d;
    color:#3f298d;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;  
    font-family: "Bree Serif", serif;
    margin-top: 10px;
}

.boton:hover {
    background-color:#3f298d; 
    color: white;
}